@import "../../App.scss";


.menu-4-control {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 24px;


    .menu-4-playing-control {
        display: flex;
        flex-direction: column;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;

        @include media-breakpoint-down(md){
            max-width: auto;
            width: 100%;
        }


        .menu-4-playing-title {
            font-size: 18px;
            font-family: $fontMedium;
            color: white;
            margin-left: auto;
            margin-right: auto;
        }

        .menu-4-playing-desc {
            font-size: 13px;
            font-family: $fontRegular;
            color: white;
            line-height: 1.2em;
            margin-left: auto;
            text-align: center;
            margin-right: auto;
        }

        .menu-4-form-control {
            display: flex;
            flex-direction: column;
            text-align: left;
            min-height: 400px;
            margin-top: 60px;
           

            .menu-4-form-loading {
                margin: auto;
                display: flex;
                flex-direction: column;

                .menu-4-form-loading-spinner {
                    width: 30px;
                    height: 30px;
                    object-fit: contain;
                    margin-left: auto;
                    margin-right: auto;
                    color: white;
                    margin-bottom: 14px;
                }

                .menu-4-form-loading-text {
                    font-size: 16px;
                    font-family: $fontMedium;
                    color: white;
                    margin-left: auto;
                    margin-right: auto;
                }
            }


            .menu-4-form-label {
                font-size: 16px;
                font-family: $fontMedium;
                color: white;
            }

            .menu-4-form-warning {
                font-size: 12px;
                font-family: $fontRegular;
                color: white;
                margin-top: 4px;
            }
            .menu-4-form-input {
                width: 100%;
                height: 46px;
                margin-top: 12px;
                font-size: 20px;
                font-family: $fontMedium;
                color: $text-black;
            }
            .menu-4-tarot-control {
                width: 100%;
                height: 200px;
                position: relative;
                display: block;
                justify-content: center;
            }
        }

        .menu-4-button {
            margin-top: auto;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            height: 48px;
            border: 1px solid $button-color !important;
            background-color: $button-color !important;
            color: $primary-color !important;
            font-size: 16px;
            font-family: $fontMedium;
        }
    }

}