@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


$primary-color: #4B0082;
$bg-color: #483D8B;
$soft-bg-color: #715d80;
$button-color: #FFD700;
$dark-blue: #4880FF;
$border-input: #E6E6FA;
$text-black: #3D4655;
$light-blue: #D9E4FF;
$green-color: #00B69B;
$dark-orange: #FF9066;
$text-gray: #555E6D;
$bg-gray: #EFEFEF;
$text-light-gray: #919EB3;
$placeholder-text: #919EB3;
$text-blue: #8696BB;
$red: #FF1E3B;
$black: #1F1F39;
$yellow: #EDCB54;
$pink: #D39FE5;
$gray-color: #F3F3F3;
$graph-blue: #3D42DF;
$light-orange: #282321;
$text-soft-pink: #D7B8FF;
$text-soft-green: #63CEAD;
$text-soft-blue: #AECBFA;
$radius: 16px;
$shadow-box: 0px 0px 4px #112644;
$gradient-primary: linear-gradient(85deg, #AF34F4 0%, #7321E4 39.97%, #4008DC 100%);


$fontBold: "IBMPlexSansThaiLooped-Bold";
$fontRegular: "IBMPlexSansThaiLooped-Regular";
$fontMedium: "IBMPlexSansThaiLooped-Medium";
$fontLight: "IBMPlexSansThaiLooped-Light";

@font-face {
    font-family: $fontBold;
    src: local("IBMPlexSansThaiLooped-Bold"), url(../public/fonts/IBMPlexSansThaiLooped-Bold.ttf) format("truetype");
}

@font-face {
    font-family: $fontMedium;
    src: local("IBMPlexSansThaiLooped-Medium"), url(../public/fonts/IBMPlexSansThaiLooped-Medium.ttf) format("truetype");
}

@font-face {
    font-family: $fontRegular;
    src: local("IBMPlexSansThaiLooped-Regular"), url(../public/fonts/IBMPlexSansThaiLooped-Regular.ttf) format("truetype");
}

@font-face {
    font-family: $fontLight;
    src: local("IBMPlexSansThaiLooped-Light"), url(../public/fonts/IBMPlexSansThaiLooped-Light.ttf) format("truetype");
}

.body {
    font-family: $fontRegular !important;
    // background-color: #edf0f5;
    scrollbar-width: none;
    background-color: black;
    background-image: url('/assets/images/bg.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Adjust this as needed */
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100vw;
    display: flex;
    min-height: 100vh;

}

.bodyCustomMain{
    width: auto;
    background-color: black;
    background-image: url('/assets/images/bg.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}