@import "../styles/globals.scss";

.landingControl{
    width: 100%;
    min-height: 100vh;
    background: $bg-color;
    display: flex;
    padding: 12px;
    max-width: 992px;
    height: fit-content !important;

    .landingItemControl{
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 992px;

        .landingItemListControl{
            cursor: pointer;
            background-color: white;
            border-radius: 8px;
            padding: 12px;
            margin-bottom: 14px;
            max-width: 992px !important;
            display: flex;
            flex-direction: column;

            .landingItemTextHeader{
                font-size: 16px;
                font-family: $fontMedium;
                color: $text-black;
            }
            .landingItemTextDesc{
                font-size: 14px;
                font-family: $fontRegular;
                color: $text-black;
            }
        }

       
        .landingItemButton{
            margin-top: 36px;
            width: 100%;
            height: 48px;
            border: 1px solid $button-color;
            background-color: $button-color;
            color: $primary-color;
            font-size: 16px;
            font-family: $fontMedium;
        }
    }
    .landingItemArticleControl{
        background-color: white;
        border-radius: 8px;
        padding: 12px;
        margin-bottom: 14px;
        display: flex;
        flex-direction: column;
    }
}