@import "../../styles/globals.scss";

.headerMain {

    width: auto;
    min-height: 80px;
    display: flex;
    background: black;
    border: none;


    .headerLogo {
        cursor: pointer;
        width: auto;
        height: 40px;
        margin-top: auto;
        margin-bottom: auto;
        object-fit: contain;

        @include media-breakpoint-down(xl) {
            height: 25px;
        }
    }

    .headerLogoControl{
        cursor: pointer;
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 2%;
        padding-right: 2%;
        width: 30%;

        @include media-breakpoint-down(md){
            width: 100%;
        }

        .headerLogoImg{
            cursor: pointer;
            width: 40px;
            height: auto;
            object-fit: contain;
            margin-right: 12px;
        }

        .headerLogoTextImg{
            cursor: pointer;
           width: auto;
           height: 40px;
           object-fit: contain;
           margin-top: auto;
           margin-bottom: auto;
           margin-left: 6px;
        }
    }

    .headerMenuMobile {
        display: none;

        @include media-breakpoint-down(md) {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-right: 5%;
        }

        .headerMenuMobileToggle{
            color: white;
            width: 30px;
            height: 30px;
            margin-left: auto;
            margin-top: auto;
            margin-bottom: auto;
        }

        .headerMenuMobileText{
            font-size: 16px;
            color: black;
            font-family: $fontRegular;
        }
        .headerMobileLINEOAButton{
            background-color: #06c755;
            color: white;
            font-size: 16px;
        }
    }

    .headerLINEOAButton{
        background-color: #06c755;
        color: white;
        font-size: 16px;
    }

    .headerMenuControl {
        display: flex;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;

        @include media-breakpoint-down(md) {
            display: none;
        }

        .headerMenuText {
            cursor: pointer;
            font-size: 12px;
            font-family: $fontMedium;
            text-decoration: none;
            color: white;
            margin-left: 14px;
            margin-right: 14px;
            margin-top: auto;
            margin-bottom: auto;

            @include media-breakpoint-down(xl) {
                font-size: 11px;
                margin-left: 8px;
                margin-right: 8px;
            }

            @include media-breakpoint-down(lg) {
                font-size: 10px;
                margin-left: 8px;
                margin-right: 8px;
            }


            &:hover {
                color: $button-color;
            }
        }
    }

}