@import "../../App.scss";


.shuffle-card-control {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .shuffle-card-text {
    font-size: 18px;
    text-align: center;
    color: white;
    font-family: $fontMedium;
  }

  .shuffle-card-img {
    width: 70%;
    height: auto;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    margin-bottom: 24px;
  }
  .shuffle-card-button {
    margin-top: 36px;
    width: 100%;
    height: 48px;
    border: 1px solid $button-color;
    background-color: $button-color;
    color: $primary-color;
    font-size: 16px;
    font-family: $fontMedium;

    &:hover{
      background-color: $button-color;
      color: $primary-color;
    }
  }
  
}

.playing-control {
  display: flex;
  flex-direction: column;

  .playing-title {
    font-size: 18px;
    font-family: $fontMedium;
    color: white;
    text-align: center;
  }

  .playing-card-button {
    margin-top: 36px;
    width: 100%;
    height: 48px;
    border: 1px solid $button-color;
    background-color: $button-color;
    color: $primary-color;
    font-size: 16px;
    font-family: $fontMedium;

    &:hover{
      background-color: $button-color;
      color: $primary-color;
    }
  }
}

.card-button {
  margin-top: 36px;
  width: 100%;
  height: 48px;
  border: 1px solid $button-color;
  background-color: $button-color;
  color: $primary-color;
  font-size: 16px;
  font-family: $fontMedium;
}

.playing-page {
  overflow: hidden;

  .cards-grid {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;
    overflow-y: auto;
    max-height: 70vh; // Ensure some space at the bottom for the button
  }

  .cards-scroll-control{
    margin-top: 15px;
    display: flex;
    flex-direction: column;

    .cards-scroll-text{
      font-size: 14px;
      font-family: $fontRegular;
      text-align: center;
      color: white;
    }
  }

  .card-col {
    padding: 5px;
  }

  .card-item {
    position: relative;
    width: 100%;
    padding-bottom: 150%; // Maintain aspect ratio (e.g., 2:3 for cards)
    cursor: pointer;
    perspective: 1000px;
    display: flex;

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    .card-selected {
      font-size: 25px;
      margin: auto;
      border-radius: 8px;
      font-family: $fontMedium;
      text-align: center;

      &:hover{
        animation: none !important;
        transform: none !important;
      }
    }
  }

  .selected {
    border-radius: 8px;
    background-color: $button-color;

  }


  .card-info {
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: $fontMedium;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    color: #333;
    padding-left: 4px;
    padding-right: 4px;

    .card-title{
      font-size: 14px;
      font-family: $fontRegular;
      text-align: center;
    }
    .card-number{
      font-size: 18px;
      font-family: $fontMedium;
      text-align: center;
      margin-top: 12px;
    }

  }
  .card-info:hover  {
    transform: none !important;
    animation: none !important;
  }

  .card-back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    border: 4px solid $button-color;
    border-radius: 8px;
    backface-visibility: hidden;
    transition: transform 0.6s;


  }


  .card-item.selected .card-back {
    transform: rotateY(180deg);
  }

  .card-item:hover .card-back {
    animation: shake 0.5s;
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }

    25% {
      transform: translateX(-5px);
    }

    50% {
      transform: translateX(5px);
    }

    75% {
      transform: translateX(-5px);
    }

    100% {
      transform: translateX(0);
    }
  }

  .card-back::before {
    content: '';
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: contain;
    background-color: $primary-color;
  }

  .view-result-button {
    margin-top: 20px;
    position: fixed;
    bottom: 20px;
    z-index: 10;
  }
}